html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    position: relative;
    background-color: #0e0e0e;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
}
