# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

css/main.css
css/main.css.map
index.html
.idea
dist
node_modules
.DS_Store
.babelrc
.editorconfig
.eslintrc
.gitattributes
